# Ignore node_modules directory
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore build directories
dist/
build/

# Ignore temporary files
*.tmp
*.temp

# Ignore IDE specific files
.vscode/
.idea/
.DS_Store

# Ignore package-lock.json if you want to manage dependencies manually
# package-lock.json
